<div class="hide-print actions center row">
  <div class="col-md-8 col-md-offset-2">
    <%= link_to 'Run Again', "#", class: "btn btn-default", id: "reload-page" %>
    <%= link_to 'Print', "#", class: "btn btn-default", id: "print-page" %>
    <%= link_to 'Create New', new_conjoint_experiment_path, class: "btn btn-default" %>
  </div>
</div>

<div class="hide-print">
  <h2><%= @conjoint_experiment.name %></h2>
  <h4><%= @trial.uid %></h4>
  <div>
    <%= link_to 'Edit', edit_conjoint_experiment_path(@conjoint_experiment) %> |
    <%= link_to 'Back', conjoint_experiments_path %>
  </div>
  <hr/>
</div>

<div id="tables">
  <% @trial.data.each do |round| %>
    <div class="page-break">
      <div class="show-print">
        <h6><%= @trial.uid %></h6>
      </div>
      <h2 class="center">Round #<%= round[0] %></h2>
      <table id="conjoint_table_<%= round[0] %>" class="conjoint-table table-bordered">
        <tr>
          <th><%= @conjoint_experiment.name_of_choice_1 %></th>
          <th><%= @conjoint_experiment.name_of_choice_2 %></th>
        </tr>
        <% rows = round[1][@conjoint_experiment.name_of_choice_1].count %>
        <% rows.times do |n| %>
          <tr>
            <% choice_1 = round[1][@conjoint_experiment.name_of_choice_1][n].values.first %>
            <% choice_2 = round[1][@conjoint_experiment.name_of_choice_2][n].values.first %>
            <td>
              <% if choice_1["image"].include? "/missing.png" %>
                <%= choice_1["text"] %>
              <% else %>
                <img src="<%= choice_1['image'] %>" alt="<%= choice_1['text'] %>" />
              <% end %>
            </td>
            <td>
              <% if choice_2["image"].include? "/missing.png" %>
                <%= choice_2["text"] %>
              <% else %>
                <img src="<%= choice_2['image'] %>" alt="<%= choice_2['text'] %>" />
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>

<%= content_for :javascript do %>
  <script type="text/javascript">
    $().ready(function() {
      $('#print-page').click(function(e) {
        e.preventDefault();
        window.print();
      });

      $('#reload-page').click(function(e) {
        e.preventDefault();
        location.reload();
      });
    });
  </script>
<% end %>
